

.vlp {
    &-user-icon {
        &-wrapper {
            width: var(--user-icon-width);
            height: var(--user-icon-width);
            border-radius: 50%;
            overflow: hidden;
        }

        &-img {
            width: 100%;
            height: 100%;
        }
    }
}