

.vlp {
    &-user-icon {
        &-wrapper {
            width: var(--user-icon-width);
            height: var(--user-icon-width);
            border-radius: 50%;
            overflow: hidden;
            margin-left: var(--user-icon-side-blanc);
            margin-right: var(--user-icon-side-blanc);
        }

        &-img {
            width: 100%;
            height: 100%;
        }

        &-is-user {
        }
    }
}